/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;

}

/* semantic color variables for this project */
:root {
  --color-background: #fff;
  --header-text-color: #7C8792;
  --header-routes-link-color: #1F2229;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  font-family: Tele2, serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Tele2";
  font-weight: 400;
  font-style: normal;
  src: local("Tele2"), url("@/assets/fonts/tele2_textsans-regular.woff") format("woff");
}

