@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1112px;
  width: 100%;
}

@media (max-width: 1150px) {
  .container{
    padding: 0 1rem;
  }
}


