.navbarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  .headerTop{
    width: 100%;
    background: #1F2229;
    padding: 8px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .headerTopContent{
      width: 1112px;
      display: flex;
      justify-content: space-between;
      .companyLogo{
        width: 60px;
        height: 22px;
      }
      .rightSideHeader{
        display: flex;
        align-items: center;
        .messagesIndication{
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          border: none;
          background: none;
          .bell{
            height: 25px;
            width: 25px;
            transform: rotate(-25deg);
          }
          .animated{
            animation: bell 1.5s infinite;
          }
          .messagesCount{
            position: absolute;
            border-radius: 50%;
            background: #3FCBFF;
            right: 5px;
            top: 5px;
            width: 6px;
            height: 6px;
          }
        }
      }
    }
  }

  .region{
    margin-right: 37px;
    display: flex;
    align-items: center;
    .regionName{
      margin-left: 14px;
    }
  }

  .headerBottom{
    height: 47px;
    display: flex;
    border-bottom: 1px solid #D3D9DF;
    transition: 0.5s all;
    .region{
      display: none;
    }
    .link{
      margin-right: 18px;
      font-size: 14px;
      text-decoration: none;
      color: var(--header-text-color);
      display: flex;
      align-items: center;
      border-bottom: 2px solid #fff;
      padding: 15px 0 12px 0;
    }
    .active{
      color: var(--header-routes-link-color);
      border-bottom: 2px solid #1F2229;
    }
  }
}

.menuToggleButton{
  display: none;
  width: 18px;
  height: 14px;
  position: relative;
  margin-left: 22px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  span{
    position: absolute;
    width: 18px;
    height: 2px;
    background: #fff;
    top: 50%;
    left: 0;
    transition: 0.25s all;
    border-radius: 10px;
  }
  span:nth-of-type(2){
    top: calc(50% - 5px)
  }
  span:nth-of-type(3){
    top: calc(50% + 5px)
  }
}

.menuVisible{
  transform: translateX(0) !important;
}
.menuButtonOpened{
  span:nth-of-type(1){
    display: none;
  }
  span:nth-of-type(2){
    top: 50%;
    transform: rotate(45deg);
  }
  span:nth-of-type(3){
    top: 50%;
    transform: rotate(-45deg);
  }
}

@keyframes bell {
  0% { transform: rotate(-25deg); }
  10% { transform: rotate(-15deg); }
  20% { transform: rotate(-25deg); }
  80% { transform: rotate(-25deg); }
  90% { transform: rotate(0); }
  100% { transform: rotate(-25deg); }
}

@media (max-width: 1000px) {
  .navbarContainer{
    .headerTop{
      padding: 13px 18px 14px 18px;
      .companyLogo{
        width: 48px !important;
        height: 18px !important;
      }
      .region{
        display: none !important;
      }
    }
    .menuToggleButton{
      display: block !important;
    }
    .headerBottom{
      transform: translateX(-1000px);
      position: fixed;
      top: 45px;
      flex-direction: column;
      font-size: 16px;
      font-weight: 700;
      height: 100vh;
      background: #fff;
      .link{
        margin: 0 15px 0 15px;
        padding-bottom: 8px;
        border-bottom: 1px solid #EDEDED;
        &:first-child{
          margin-top: 24px;
        }
      }
      .active{
        border-bottom: 1px solid #1F2229;
      }
      .region{
        display: flex;
        height: 56px;
        position: absolute;
        width: 100%;
        bottom: 44px;
        left: 0;
        padding-left: 19.5px;
        background: #F3F5F6;
        .regionName{
          margin-left: 8.5px;
        }
      }
    }
  }
}
